body{
    background-image: url("planex\(3bmi\).png");
    color: rgb(27, 4, 4);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.blok{
    float: left;
    width: 26%;
    height: 500px;
    background-color: rgba(0, 255, 255, 0.451);
    margin: 3%;
    padding: 10px;
    text-align: center;
}
